
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body {
    width: 100%;
    background: #db5656;
    font-size: 1.6em;
    color: #fff;
}

#logo {
position: fixed;
top: 25px;
left: 50px;
z-index: 7;
width: 130px;
}
.social-icons img {
  z-index: 7;
  right: 100px;
  width: 30px;
  height: 25px;
  margin-right: 5px;
  cursor: pointer;
  color:#fff;
  transition: transform 0.3s;
}

nav {
    font-size: 2em;
    text-align: center;
    background: #cb5353;
    height: 70px;
    width: 100%;
    z-index: 3;
    position: fixed; 
    top: 75px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding-top: 3px;
}
    a {
    text-decoration: none;
    color: #fff;
    margin: 0 13px;
    
}
    a:hover {
    color: #f00;
}
header {
background: url('../assets/images/headerBkg.png');
height: 700px;
text-align: center;
padding-top: 250px;
font-size: 2em;
border-bottom: 2px solid #fff;
}
.box {
    min-height: 700px;
    font-size: 1.3em;
    padding: 200px;
}
#about {
border-bottom: 1px solid #fff;
background: url('../assets/images/aboutBkg.png');
}
#leftDiv {
background: #f00;
width: 40;
min-height: 700px;
float: left;
}
#rightDiv {
background: #00f
width 60%

}

.content2 {
  text-align: left;
  size: 1000px;
}

.content2 img {
  width: 200px;
  border-radius: 500px;
  height: 200px;
  border-radius: 500px;
  padding-top: 25px;
}

#skills {
background: url('../assets/images/skillsBkg.png');
}

#contact {
border-top: 1px solid #fff;
border-bottom: 1px solid #fff;
background: url('../assets/images/contactBkg.png');
}
.content {
  text-align: left;
  size: 500px;
}

.content img {
  width: 200px;
  border-radius: 500px;
  height: 200px;
}
footer {
background: #000;
padding-top: 25px;
font-size: .7em;
text-align: center;
color: #fff;
height: 200px;
border-top: 2px #fff;
}
.social-icons {
  right: 50px;
}
